.card-container {
    background-color: #1B1B1B;
}

.text-grafik {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
}

.text-name {
    font-family: 'Gilroy-Regular';
    font-size: 0.75rem;
    line-height: 1rem;
}

.table-style-custom {
    border: 2px solid #696969;
    border-radius: 1rem;
    
}

.border-column{
    border: 1px solid #696969;
    border-top: none;
    border-right: none;
}

.border-column2{
    border: 1px solid #696969;
    border-left: none;
    border-bottom: none;
}

.border-row{
    border: 1px solid #696969;
    border-bottom: none;
    border-right: none;
}

