.text-sensor {

    font-family: 'Gilroy-Regular';
    font-size: 14px;


}

.text-selector {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
}

.text-judul {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 23px;
}