@tailwind base;
@tailwind components;

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./Assets/font/Gilroy-font/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./Assets/font/Gilroy-font/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./Assets/font/Gilroy-font/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./Assets/font/Gilroy-font/Gilroy-Medium.ttf") format("truetype");
}


@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
