.text-sensor {

    font-family: 'Gilroy-Regular';
    font-size: 14px;


}

.text-selector {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
}

.text-judul {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 23px;
}

.progress-bar {

    background: linear-gradient(to right, #3f87a6, #ebf8e1);
}

.hcustom-1 {
    height: 0.25rem;
}

.hcustom-2 {
    height: 0.5rem;
}

.hcustom-3 {
    height: 0.75rem;
}

.hcustom-4 {
    height: 1rem;
}

.hcustom-5 {
    height: 1.25rem;
}

.hcustom-6 {
    height: 1.5rem;
}

.hcustom-7 {
    height: 1.75rem;
}

.hcustom-8 {
    height: 2rem;
}

.hcustom-9 {
    height: 2.25rem;
}

.hcustom-10 {
    height: 2.5rem;
}

.hcustom-11 {
    height: 2.75rem;
}

.hcustom-12 {
    height: 3rem;
}

.hcustom-13 {
    height: 3.25rem;
}

.hcustom-14 {
    height: 3.5rem;
}

.hcustom-15 {
    height: 3.75rem;
}

.hcustom-16 {
    height: 4rem;
}

.hcustom-17 {
    height: 4.25rem;
}

.hcustom-18 {
    height: 4.5rem;
}

.hcustom-19 {
    height: 4.75rem;
}

.hcustom-20 {
    height: 5rem;
}

.hcustom-21 {
    height: 5.25rem;
}

.hcustom-22 {
    height: 5.5rem;
}

.hcustom-23 {
    height: 5.75rem;
}

.hcustom-24 {
    height: 6rem;
}

.hcustom-25 {
    height: 6.25rem;
}

.hcustom-26 {
    height: 6.5rem;
}

.hcustom-27 {
    height: 6.75rem;
}

.hcustom-28 {
    height: 7rem;
}

.hcustom-29 {
    height: 7.25rem;
}

.hcustom-30 {
    height: 50%;
}

.hcustom-31 {
    height: 7.75rem;
}

.hcustom-32 {
    height: 8rem;
}

.hcustom-33 {
    height: 8.25rem;
}

.hcustom-34 {
    height: 8.5rem;
}

.hcustom-35 {
    height: 8.75rem;
}

.hcustom-36 {
    height: 9rem;
}

.hcustom-37 {
    height: 9.25rem;
}

.hcustom-38 {
    height: 9.5rem;
}

.hcustom-39 {
    height: 9.75rem;
}

.hcustom-40 {
    height: 10rem;
}

.hcustom-41 {
    height: 10.25rem;
}

.hcustom-42 {
    height: 10.5rem;
}

.hcustom-43 {
    height: 10.75rem;
}

.hcustom-44 {
    height: 11rem;
}

.hcustom-45 {
    height: 11.25rem;
}

.hcustom-46 {
    height: 11.5rem;
}

.hcustom-47 {
    height: 11.75rem;
}

.hcustom-48 {
    height: 12rem;
}

.hcustom-49 {
    height: 12.25rem;
}

.hcustom-50 {
    height: 12.5rem;
}

.hcustom-51 {
    height: 12.75rem;
}

.hcustom-52 {
    height: 13rem;
}

.hcustom-53 {
    height: 13.25rem;
}

.hcustom-54 {
    height: 13.5rem;
}

.hcustom-55 {
    height: 13.75rem;
}

.hcustom-56 {
    height: 14rem;
}

.hcustom-57 {
    height: 14.25rem;
}

.hcustom-58 {
    height: 14.5rem;
}

.hcustom-59 {
    height: 14.75rem;
}

.hcustom-60 {
    height: 15rem;
}